body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #fff;
}

#quiz, #result, #leaderboard {
    display: none;
    max-width: 600px;
    padding: 20px;
    background-color: #444;
    border: 1px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    display: block;
    background-color: #666;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #888;
}

h1 {
    text-align: center;
}

.centered-choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.centered-choices button {
    margin: 5px;
    background-color: #666;
    color: #fff;
    border: none;
}

.centered-choices button:hover {
    background-color: #888;
}

.timer {
    font-size: 24px;
}

#initials {
    text-transform: uppercase;
}

#scoreList {
    padding-left: 0;
    list-style: none;
}

#scoreList li {
    margin: 5px 0;
}

#result {
    margin-top: 20px;
}
